---
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "./ImageMod.astro";
import RightArrowBtn from "./RightArrowBtn.astro";

const { title, desc, logoSrc, link, aosDelay } = Astro.props;
---

<article data-aos="fade-up-sm" data-aos-delay={aosDelay || 0}>
  <div
    class="p-10 shadow-inset shadow-shadow/50 hover:shadow-shadow hover:bg-theme-light/10 transition-all duration-500 rounded-4xl bg-theme-light/10 flex flex-col justify-between gap-6 h-full"
  >
    <div class="space-y-6">
      <div class="flex justify-between items-center">
        <ImageMod
          loading="eager"
          src={logoSrc}
          alt={title}
          width={60}
          height={60}
          class="max-w-[60px] w-full aspect-square"
        />
        <div class="px-4 py-2 rounded-full bg-tertiary/40">
          <span class="text-white text-sm font-light">Browser</span>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <p class="font-semibold text-white capitalize" set:html={markdownify(title)} />
        <p set:html={markdownify(desc)} />
      </div>
    </div>
    <RightArrowBtn label="View Integration" link={"/integration/" + link} />
  </div>
</article>
