---
import { markdownify } from "@/lib/utils/textConverter";
import SvgWindspeedLogo from "./Svg/SvgWindspeedLogo.astro";

const { title, description, aosDelay } = Astro.props;
---

<div data-aos="fade-up-sm" data-aos-delay={aosDelay}>
  <div
    class="border border-border shadow-inset p-10 rounded-4xl flex flex-col items-center gap-4 text-center w-full h-full"
  >
    <div class="w-[60px] h-[60px] bg-theme-light rounded-full grid place-items-center text-primary">
      <SvgWindspeedLogo />
    </div>
    <h3 class="text-h5" set:html={markdownify(title)} />
    <p class="text-sm" set:html={markdownify(description)} />
  </div>
</div>
